
@{
    ViewData["Title"] = "NoAuthenication";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="main_container">
        <div class="col-middle">
            <div class="text-center text-center">
                <h1 class="error-number">403</h1>
                <h2>Access denied</h2>
                <p>
                    Full authentication is required to access this resource. <a href="#">Report this?</a>
                </p>
                <div class="mid_center">
                    <h3>Search</h3>
                </div>
            </div>
        </div>
    </div>

</div>


